.todo-list {
  z-index: 90;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 540px;
  padding: 28px 0 88px 0;
  scroll-margin-top: 126px;
  scroll-snap-align: start;

  @media (min-width: 540px) {
    padding: 28px 10px 88px 10px;
  }

  > p.todo-delete-tip {
    z-index: 100;
    display: flex;
    align-items: center;
    position: absolute;
    right: 12px;
    margin: 0;
    margin-top: -20px;
    font-size: 0.8rem;
    color: var(--gray-color-10);

    > span {
      color: var(--gray-color-10);
      margin-right: 2px;
      font-size: 1rem;
    }
  }

  > li {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60px;
    padding: 0;
    padding-left: 18px;
    border-bottom: 1px solid var(--secondary-color);
    background: var(--background-color);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE 和 Edge */
    scrollbar-width: none; /* Firefox */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    &:hover {
      > button.delete-btn {
        opacity: 0.7;

        &:hover {
          opacity: 1;
          background-color: var(--warning-color);
          color: #fff;
          font-size: 16px;
        }
      }

      > div.todo-option {
        scroll-snap-align: start;
      }

      > p.todo-delete-tip {
        opacity: 1;
      }
    }

    &:active {
      background-color: var(--gray-color-13);

      > div.todo-item-container-wrapper {
        background-color: var(--gray-color-13);
      }
    }

    &:last-child {
      border-bottom: none;
    }

    > div.todo-item-container-wrapper {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;
      min-width: 100%;
      scroll-snap-align: end;
      background-color: var(--background-color);
      z-index: 10;

      > div.todo-item-container {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: 70%;

        > div.todo-item-check {
          display: flex;
          align-items: center;
          justify-content: start;
          height: 100%;
          width: min-content;
          max-width: 100%;
          cursor: pointer;

          > input[type='checkbox'] {
            font-family: 'Material Symbols Outlined';
            appearance: none;
            -webkit-appearance: none;
            margin: 0;
            min-width: 20px;
            width: 20px;
            height: 20px;
            border: 3px solid var(--gray-color-12);
            border-radius: 50%;
            outline: none;
            cursor: pointer;
            position: relative;
            pointer-events: none;

            &.importance-medium {
              border-color: var(--warning-color-orange);
            }
            &.importance-high {
              border-color: var(--warning-color);
            }

            &:checked {
              background-color: var(--primary-color);
              border-color: var(--primary-color);

              &::after {
                content: '\e5ca';
                font-size: 16px;
                font-weight: 700;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }

          > div.todo-container {
            max-width: 100%;
            margin-left: 12px;

            > span {
              display: block;
              white-space: nowrap;
              width: 100%;
              font-size: 1.2rem;
              color: var(--text-color);
              overflow: hidden;
              text-overflow: ellipsis;
            }

            > div.todo-details-view {
              margin-top: -3px;
              height: fit-content;

              > span {
                font-size: 0.8rem;
                color: var(--gray-color-10);
              }
            }
          }
        }
      }
    }

    > div.todo-option {
      display: flex;
      align-items: center;
      justify-content: center;
      position: sticky;
      right: 0;
      scroll-snap-align: start;
      height: 100%;
      width: fit-content;
      padding: 0;
      z-index: 0;

      > button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
        height: 100%;
        width: 60px;
        border: 0;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;

        &.delete-btn {
          background-color: var(--warning-color);
        }
        > span {
          color: #fff;
        }
      }
    }
  }
}
