.todo-list {
  z-index: 90;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 540px;
  padding: 10px 0 88px 0;
  scroll-snap-align: start;

  @media (min-width: 540px) {
    padding: 10px 10px 88px 10px;
  }

  > li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding: 0;
    padding-left: 18px;
    border-bottom: 1px solid var(--secondary-color);
    background: var(--background-color);
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE 和 Edge */
    scrollbar-width: none; /* Firefox */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    &:hover {
      > button.delete-btn {
        opacity: 0.7;

        &:hover {
          opacity: 1;
          background-color: var(--warning-color);
          color: #fff;
          font-size: 16px;
        }
      }

      > div.todo-option {
        scroll-snap-align: start;
      }
    }

    &:last-child {
      border-bottom: none;
    }

    > div.todo-item-container-wrapper {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;
      min-width: 100%;
      scroll-snap-align: end;

      > div.todo-item-container {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 100%;
        width: 100%;

        > input[type='checkbox'] {
          font-family: 'Material Symbols Outlined';
          appearance: none;
          -webkit-appearance: none;
          width: 20px;
          height: 20px;
          border: 3px solid var(--gray-color-12);
          border-radius: 50%;
          outline: none;
          cursor: pointer;
          position: relative;
          pointer-events: none;

          &.importance-medium {
            border-color: var(--warning-color-orange);
          }
          &.importance-high {
            border-color: var(--warning-color);
          }

          &:checked {
            background-color: var(--primary-color);
            border-color: var(--primary-color);

            &::after {
              content: '\e5ca';
              font-size: 16px;
              font-weight: 700;
              color: white;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        > div.todo-container {
          margin-left: 6px;

          > span {
            font-size: 1rem;
            color: var(--text-color);
          }

          > div.todo-details-view {
            margin-top: -3px;
            height: fit-content;

            > span {
              font-size: 0.8rem;
              color: var(--gray-color-10);
            }
          }
        }
      }
    }

    > div.todo-option {
      display: flex;
      align-items: center;
      justify-content: center;
      scroll-snap-align: end;
      height: 100%;
      width: min-content;
      padding: 0;

      > button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
        height: 100%;
        width: auto;
        border: 0;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        cursor: pointer;

        &.delete-btn {
          background-color: var(--warning-color);
        }
      }
    }
  }
}
