.add-todo-container {
  position: sticky;
  top: 66px;
  padding: 0 10px 0 10px;
  margin-top: 48px;
  width: 100%;
  max-width: 540px;
  background: var(--background-color);
  box-shadow: 0 0 12px 6px var(--background-color);
  z-index: 110;
  height: 60px;

  &.active {
    height: 140px;
  }

  > form.add-todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;

    // Text input
    > input {
      z-index: 100;
      flex: 1;
      padding: 10px 20px;
      border: 3px solid var(--secondary-color);
      font-size: 16px;
      width: 100%;
      height: 100%;
      font-size: 1.3rem;
      background-color: var(--secondary-color);
      color: var(--text-color);

      &:focus {
        border-color: var(--input-focus-color);
        outline: none;
      }
      &::placeholder {
        color: var(--gray-color-10);
      }
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
    }

    // Add button
    > button {
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 3px;
      padding: 0;
      border: 3px solid var(--secondary-color);
      background-color: var(--secondary-color);
      font-size: 30px;
      height: 100%;
      width: 60px;
      cursor: pointer;

      &.active {
        border: 3px solid var(--primary-color);
        background-color: var(--primary-color);
        color: var(--primary-color-text);

        &:hover {
          border: 3px solid var(--gray-color-13);
          background-color: var(--gray-color-13);
        }
      }

      > span {
        font-size: 24px;
        font-weight: 700;
        color: var(--primary-color-text);
      }
      border-radius: 30px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      -o-border-radius: 30px;
    }
  }

  // Details select
  > .todo-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    height: 48px;
    gap: 10px;
    pointer-events: none;
    opacity: 0;

    &.active {
      pointer-events: auto;
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }

    > input[type='date'],
    select {
      flex: 1;
      padding: 6px 18px;
      border: 3px solid var(--secondary-color);
      background-color: var(--background-color);
      color: var(--text-color);
      font-size: 1rem;
      outline: none;

      &:focus {
        border: 3px solid var(--input-focus-color);
      }

      // importance
      &.medium {
        border-color: var(--warning-color-orange);
      }
      &.high {
        border-color: var(--warning-color);
      }
      border-radius: 24px;
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      -ms-border-radius: 24px;
      -o-border-radius: 24px;
    }

    input[type='date'] {
      &::-webkit-calendar-picker-indicator {
        filter: invert(0.5);
        cursor: pointer;
      }
    }

    select {
      appearance: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23888' d='M10.293 3.293L6 7.586 1.707 3.293A1 1 0 00.293 4.707l5 5a1 1 0 001.414 0l5-5a1 1 0 10-1.414-1.414z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: right 12px center;
      padding-right: 30px;
    }
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
  }

  > p.add-todo-hint {
    margin: 3px 0 0 18px;
    font-size: 12px;
    color: #999;
    height: 16px;

    &.hidden {
      opacity: 0;
      transform: translateY(-300%);
      -webkit-transform: translateY(-300%);
      -moz-transform: translateY(-300%);
      -ms-transform: translateY(-300%);
      -o-transform: translateY(-300%);
    }
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
