.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow-y: scroll;

  > header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    padding-top: 48px;

    > h1 {
      position: relative;
      margin: 0;
      font-size: 2rem;
      font-weight: 700;

      > span.check-icon {
        position: absolute;
        right: -9px;
        font-size: 2.3rem;
        font-weight: bolder;
        user-select: none;
        color: #42b2db;
      }
    }
  }

  > .footer-container {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-bottom: 24px;
    bottom: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 -12px 12px 12px #fff;

    > span {
      margin-bottom: 2px;
      width: 100%;
      text-align: center;
      font-size: 0.8rem;
      color: #999;
    }
  }
}
