.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE å’Œ Edge */
  scrollbar-width: none; /* Firefox */
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}
